.about {
  display: flex;
  flex-direction: column;
  padding: 0 $padding-screen-sm;

  @media screen and (min-width: $screen-size-lg) {
    padding: 0 $padding-screen-lg;
  }
}

.about-description {
  margin-bottom: 2rem;

  p {
    font-family: $font-sans-serif;
    font-weight: $font-weight-normal;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-top: 2rem;
  }
}
