.about {
  display: flex;
  flex-direction: column;
  padding: 0 $padding-screen-sm;

  @media screen and (min-width: $screen-size-lg) {
    padding: 0 $padding-screen-lg;
  }
}

.about-description {
  margin-bottom: 2rem;

  p {
    font-family: $font-sans-serif;
    font-weight: $font-weight-normal;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-top: 2rem;
  }
}

.about-cta {
  margin-top: 3rem;

  a {
    position: relative;
    display: inline-block;
    color: $color-black-primary;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.5rem;
    transition: all 0.3s ease;

    &::before {
      content: "";
      width: 3rem;
      height: 3rem;
      border: 0.2rem solid $color-black-primary;
      background: 0 0;
      border-radius: 90%;
      top: -0.8rem;
      position: absolute;
      transition: 0.3s;
    }

    span {
      transition: 0.3s;
      display: inline-block;
      margin-left: 5rem;
    }

    &:hover {
      &::before {
        width: calc(100% + 3.6rem);
        height: 5.2rem;
        border-radius: 5rem;
        top: -1.6rem;
        border-color: $color-brand-primary;
      }
    }
  }
}
