.contact {
  padding: 0 $padding-screen-sm;

  @media screen and (min-width: $screen-size-lg) {
    padding: 0 $padding-screen-lg;
  }
}

.contact-header {
  text-align: center;
  margin: 3rem auto;

  h2 {
    font-family: $font-sans-serif;
    font-weight: $font-weight-bolder;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

form {
  font-family: $font-sans-serif;
  padding: 4rem;
  margin: 5rem auto;
  width: 100%;

  @media screen and (min-width: $screen-size-lg) {
    width: 50%;
  }
}

.contact-form-name,
.contact-form-email {
  width: 100%;

  @media screen and (min-width: $screen-size-lg) {
    width: 50%;
  }
}

input,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px $color-brand-primary;
  color: $color-white-primary;
  font-family: $font-sans-serif;
  font-weight: $font-weight-normal;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin: 0 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  transition: all 0.3s ease-in;

  &::placeholder {
    color: $color-white-primary;
    font-weight: $font-weight-normal;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
    padding: 0 0 0.875em 0;
  }
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

.contact-form-submit {
  margin: 0 auto;
  width: 50%;

  input {
    border: solid 2px $color-brand-primary;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-weight: $font-weight-boldest;
    outline: none;
    padding: 2rem;
    text-transform: uppercase;

    &:hover {
      border-radius: 50px;
    }
  }
}

.contact-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  margin-top: 6rem;

  &::before,
  &::after {
    content: "";
    background-color: rgba($color-white-primary, 0.9);
    height: 0.2rem;
    margin-right: 2.3rem;
    width: 6rem;
  }

  li {
    list-style: none;
    margin-right: 1.4rem;
    display: inline-block;
  }

  a {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    font-size: 2.1rem;
    transition: all 0.2s ease-in-out;
    width: 3rem;
    height: 3rem;

    &:hover {
      svg path {
        fill: $color-brand-primary;
      }
    }
  }
}
