.contact {
  padding: $padding-screen-sm;
  margin-bottom: 3rem;
}

.contact-header {
  text-align: center;
  margin: 3rem auto;

  h2 {
    font-family: $font-sans-serif;
    font-weight: $font-weight-bold;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}

.contact-cta {
  text-align: center;

  a {
    position: relative;
    display: inline-block;
    color: $color-black-primary;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.5rem;
    transition: all 0.3s ease;

    &::before {
      content: "";
      width: 3rem;
      height: 3rem;
      border: 0.2rem solid $color-black-primary;
      background: 0 0;
      border-radius: 90%;
      top: -0.8rem;
      position: absolute;
      transition: 0.3s;
    }

    span {
      transition: 0.3s;
      display: inline-block;
      margin-left: 5rem;
    }

    &:hover {
      &::before {
        width: calc(100% + 4rem);
        height: 5.2rem;
        border-radius: 5rem;
        top: -1.6rem;
        border-color: $color-brand-primary;
      }
    }
  }
}

.contact-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  margin-top: 6rem;

  &::before,
  &::after {
    content: "";
    background-color: rgba($color-black-primary, 0.9);
    height: 0.2rem;
    margin-right: 2.3rem;
    width: 6rem;
  }

  li {
    list-style: none;
    margin-right: 1.4rem;
    display: inline-block;
  }

  a {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    font-size: 2.1rem;
    transition: all 0.2s ease-in-out;
    width: 3rem;
    height: 3rem;

    &:hover {
      svg path {
        fill: $color-brand-primary;
      }
    }
  }
}
