*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; // 10px
}

body {
  background-color: $color-white-primary;
  font-family: $font-sans-serif;
  font-weight: $font-weight-normal;
  color: $color-black-primary;
  font-size: 1.6rem;
}
