.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 0 $padding-screen-sm;
  max-height: 100vh;

  @media screen and (min-width: $screen-size-lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-screen-lg;
  }
}

.hero-copy {
  flex-basis: 100%;
  order: 1;
  padding-bottom: 3rem;

  @media screen and (min-width: $screen-size-lg) {
    flex-basis: 40%;
    order: 2;
    padding-left: 3rem;
  }

  h1 {
    font-family: $font-sans-serif;
    font-weight: $font-weight-bolder;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  p {
    font-family: $font-sans-serif;
    font-weight: $font-weight-light;
    font-size: 2rem;
    line-height: 3.1rem;
    margin-top: 3.2rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  & > span {
    font-weight: $font-weight-light;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1rem;
  }
}

.hero-image {
  order: 2;
  max-width: 50rem;
  height: auto;
  overflow: hidden;

  @media screen and (min-width: $screen-size-lg) {
    order: 1;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
