nav {
  display: flex;
  justify-content: space-between;
  padding: 0 $padding-screen-sm;
  height: 6rem;

  @media screen and (min-width: $screen-size-lg) {
    padding: 0 $padding-screen-lg;
    height: 8rem;
  }
}

.nav-logo {
  height: 6rem;
  width: auto;
  padding: 0;
  z-index: 3;

  @media screen and (min-width: $screen-size-lg) {
    height: 8rem;
    padding: 1rem 0;
  }
}

.nav-logo-image {
  width: auto;
  height: 100%;
}

.nav-menu {
  display: none;

  @media screen and (min-width: $screen-size-lg) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &.open {
    background-color: $color-white-primary;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 6rem;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 6rem;
    left: 0;

    .nav-menu-link {
      font-size: 5.7rem;
    }
  }
}

.nav-menu-item {
  list-style: none;
  margin-bottom: 4rem;

  @media screen and (min-width: $screen-size-lg) {
    margin-bottom: 0;
  }
}

.nav-menu-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $color-black-primary;
  font-family: $font-sans-serif;
  font-size: 2.1rem;
  line-height: 2.6rem;
  padding: 2rem;
  transition: all 0.3s ease;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.5rem;
    background-color: $color-brand-primary;
    transition: width 0.3s;
    position: absolute;
    left: -0.5rem;
    bottom: 1rem;
    z-index: -1;
  }

  &:hover::after {
    width: calc(100% + 1rem);
  }
}

.nav-toggle-btn {
  padding: 3rem 0 0;
  cursor: pointer;

  @media screen and (min-width: $screen-size-lg) {
    display: none;
  }

  &:hover {
    div:first-of-type,
    div:nth-of-type(2n) {
      width: 30px;
    }
  }

  div {
    background-color: $color-black-primary;
    height: 3px;
    margin-bottom: 6px;
    transition: all 0.3s linear;

    &:first-of-type {
      width: 25px;
    }

    &:nth-of-type(2n) {
      width: 17px;
    }

    &:last-of-type {
      width: 30px;
    }
  }

  &.open {
    z-index: 3;

    div:first-of-type {
      transform: rotate3d(0, 0, 1, 45deg) translate(4px, -1px);
      width: 20px;
    }

    div:nth-of-type(2n) {
      transform: translateX(-11px);
      width: 30px;
    }

    div:last-of-type {
      transform: rotate3d(0, 0, 1, -45deg) translate(4px, 1px);
      width: 20px;
    }
  }
}
