// SCREEN SIZES
$screen-size-lg: 768px;

// COLORS
$color-brand-primary: #ffbaa0;
$color-white-primary: #f5f5f5;
$color-black-primary: #000000;
$color-black-secondary: #181818;

// FONTS
$font-sans-serif: "Nunito Sans", sans-serif;
$font-cursive: "Pacifico", cursive;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-weight-boldest: 800;

// DOCUMENT PADDING
$padding-screen-sm: 3rem;
$padding-screen-lg: 9rem;
