// SCREEN SIZES
$screen-size-lg: 769px;

// COLORS
$color-brand-primary: #8edef8;
$color-white-primary: #ffffff;
$color-black-primary: #000000;
$color-black-secondary: #181818;

// FONTS
$font-sans-serif: "Roboto", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-weight-boldest: 800;

// DOCUMENT PADDING
$padding-screen-sm: 3rem;
$padding-screen-lg: 9rem;
